.button-container {
    width: 20rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.img {
    max-width: 20rem;
    max-height: 20rem;
}